body {
    margin: 0;
    text-align: center;
}
img {
    width: 200px;
    display: inline-block;
}
header {
    background-color: lightseagreen;
    margin: 0;
    padding: 10px;
}
a {
    margin: 7px;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
.basic {
    width: 50%;
    margin: auto;
}
footer {
    margin: 15px 100px 15px 15px;
    text-align: right;
    position: fixed;
    bottom: 0;
    right: 0;
}
.logo {
    width: 25px;
    display: inline;
}
ul {
    list-style-type: none;
}
li p {
    font-style: oblique;
}
li {
    margin: 4px;
}
.proj {
    width: 400px;
}
button {
    background-color: lightskyblue;
    border: none;
    padding: 10px;
    border-radius: 8px;
}
input {
    border-radius: 8px;
    border: 1px solid lightgray
}
